
body {
  font-family: 'Inter', sans-serif;
background-image: url(../assets/image/joker-k6u5fleppdl2ajfb.jpg);
  margin: 0;
  padding: 0;
}


.TODO {
 color: white;
 
}
.todo-input1{
    display: flex;
    gap: 20px;

}

.input{
    color: red;
}

.todo-input {
  width: 40%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid #cbd5e1;
  outline: none;
  font-size: 15px;
  transition: 0.2s ease;

  
}

.todo-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
  color: red;
}


.add-btn {
  background: #3b82f6;
  padding: 12px 16px;
  border-radius: 12px;
  color: white;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: #2563eb;
}


.task-item {
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  padding: 12px 16px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;

}

.task-item:hover {
  background: #f1f5f9;
  border-color: #cbd5e1;
}


.delete-btn {
  background: none;
  border: none;
  color: #ef4444;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  color: #dc2626;
  transform: scale(1.1);
}
